page-post {
.nomePost{
    position: absolute;
    margin-left: 63px;
    margin-top: 52px;
}
.imgPost{
    border-radius: 5%;
    float: left;
}
.fotoPost{
   
    border-radius: 5%;
    width: 55px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
.tituloPost{
 margin-top: 15px;
 margin-bottom: 10px;
 text-align: center;
 font-size: 20px;
}
.postCard{
    border-radius: 20px;
}
.like{
   margin-left: 30px;
   margin-bottom: 30px;

}
.Compartilhar{
    text-align: center;
    margin-left: 80px;
    
}
}
